//header links
.panel.header{
    padding: 0 0 0;
    .widget.block.block-static-block{
            margin: 0 0 0;
        }

}

//header content
.header.content{
    display: flex;
    justify-content: flex-start;
    .header-left{
        .logo{
            margin: 0 0 0;
        }
    }
    .header-center{
        position: relative;
        left: 10%;
        bottom: 8px;
        .block.block-search{
            .block.block-content{
                .form.minisearch{
                    .field.search{
                        .control{
                            input{
                                border-style: solid;
                                border-width: 1px;
                                border-image: linear-gradient(0deg, rgba(211,211,211,1) 0%, rgba(255,255,255,0) 30%) 1;
                            }
                        }
                    }
                }
            }
        }
    }
    //.header-right{
    //    .widget.block.block-static-block{
    //        margin: 0 0 0;
    //    }
    //}
}
//Nav Bar
.page-top-row{
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 20%;
    margin: 5px 0px;

    .nav-sections{
        display: none;
    }
    .page-top-row-right{
        display: inline-flex;
        //Minicart block
        //Ovde imam problem sa nalazenjem klase/id-a ili bilo kakvog traga minicart ikonice
        //Ukoliko probam da je nadjem preko inspect-elementa nailazim samo na ::before == $0
        //Uopsteno imam problem sa svim ikonicama, koje treba da promenim, ili bilo kako uredim,
        // pa sam pribegavao relativnim pozicijama.
        .minicart-wrapper{
            display: flex;
            margin-left: 13px;
            height: 53px;
            width: auto;
            justify-content: center;
            align-items: center;
            .action.showcart{
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-start;
                padding: 0px 20px 25px;
                .minicart-text{
                    color: black;
                    font-weight: bold;
                    font-size: small;
                    position: relative;
                    top: 25px;
                    left: 25px;
                }
                .counter-text{
                    position: relative;
                    top: 25px;
                    overflow: visible;
                    font-size: smaller;
                }
                .counter.qty{
                    background: transparent;
                    color: lightgrey;
                    overflow: visible;
                    .counter-number{
                        text-shadow: none;
                        font-size: smaller;
                    }
                }
            }
        }
        //Sign in li
        .authorization-link{
            display: flex;
            flex-direction: column;
            margin-left: 13px;
            height: 53px;
            width: auto;
            justify-content: center;
            align-items: flex-start;
            .normal-link{
                color: lightgrey;
                font-size: smaller;
                padding: 11px 10px 0px;
            }
            .bolded-link{
                color: black;
                font-size: small;
                font-weight: bold;
                margin: 0 0 0;
                padding: 0px 10px 5px;
            }
        }

    }

}


//Slider
.pagebuilder-poster-content{
    [data-element='content']{
        overflow: visible;
    }
    .pagebuilder-slide-button {
        background-color: turquoise;
        color: white;
    }
    padding-left: 30px;
}


//Information block - Links
.pagebuilder-column-line{
    .pagebuilder-column.information_block_1{
        .pagebuilder-button-link{
            color: darkturquoise;
        }
    }
    .pagebuilder-column.information_block_2{
        .pagebuilder-button-link{
            color: darkturquoise;
        }
    }
    .pagebuilder-column.information_block_3{
        .pagebuilder-button-link{
            color: darkturquoise;
        }
    }
}



//Advertisement
.pagebuilder-column-line{
    .pagebuilder-column.advertisement_block_1{
        .pagebuilder-button-link{
            color: white;
        }
    }
    .pagebuilder-column.advertisement_block_2{
        .advertisement_text_2{
            position: relative;
            bottom: -45px;
        }
        .pagebuilder-button-link{
            color: whitesmoke;
        }
    }
    .pagebuilder-column.advertisement_block_3{
        .pagebuilder-button-link{
            color: white;
        }
    }
}

.newsletter_row{
    flex-direction: row;
    //Problem sa override flex-direction ? Klasa se po prioritetu nalazi ispod #html-body?
    position: relative;
    bottom: -38px;
    .newsletter_text{
        position: relative;
        bottom:-25px;
        left:40px;
    }
}

//Product Banner
.product-items{
    .product-item{
        // 1 Produkt
        .product-item-info{
            background-color: white;
            margin:0px 10px
        }
        .product-item-details{
            margin: 0px 10px;
            .product-item-name{
                font-family: 'icons-blank-theme';
            }
            .product-reviews-summary{
                .rating-summary{
                    // zvezdice
                    display: flex;
                    justify-content: flex-end;
                }
                .reviews-actions{
                    //broj review-a
                    display:none;
                }
            }
            .price-box.price-final_price{
                //cena
                margin: 10px 0px 0px;
                position: relative;
                bottom: 37px;
                .normal-price{
                    .price-container.price-final_price{
                        .price-label{
                            //tekst pre cene
                            display: none;
                        }
                    }
                }
            }
            .swatch-attribute.size{
                //Dimenzije produkta
                div{
                    background: transparent;
                    margin-right: 3px;
                    padding: 0px;
                }
            }
            .swatch-attribute.color{
                //Boja produkta
                div{
                    margin-right: 3px;
                    height: 15px;
                }
            }
            //Problem: Kako zameniti ikonice za uporedjivanje dva produkta
            .product-item-inner{
                // Add to cart/ Add to wishlist etc
                border-top: 1px solid lightgrey;
                .product-item-actions{
                    .actions-primary{
                        button{
                            background:transparent;
                            color: lightgrey;
                            border:none;
                        }
                    }
                    .actions-secondary{
                        opacity: 50%;
                        direction: rtl;
                    }
                }
            }
        }
    }

}

//Footer Links
.page-footer{
    .footer.content{
        .widget.block.block-static-block {
            float: none;
        }
    }
}
//CopyRight
.footer_copyright{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: @color-gray-middle4;
    height: 40px;

    .copyright{
        text-align: left;
        padding: 10px 30px 0px;
        font-size: medium;
    }
}




